:root {
    --primary: #3B71FE;
    --secondary: #0D1F35;
    --tertinary: #565E73;
    --green: #B3E8BE;
}

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Regular.woff") format("woff"),
        url("./fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Gilroy;
    src: url("./fonts/Gilroy-SemiBold.woff") format("woff"),
        url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--secondary);
}

h1,h2,h3,h4,h5,h6 {
    font-family: Gilroy, sans-serif;
    font-weight: 600 !important;
}

/* Header */

#header {
    background-color: white;
}

#header .navbar-brand a h1 {
    color: var(--secondary);
    font-size: 32px;
}

#header .navbar-brand a h1::after {
    content: "";
    background: url(assets/logo.png);
    color: var(--primary);
}

#header .navbar-toggler:focus {
    box-shadow: unset;
}

#header .nav-link {
    margin: 24px;
    color: var(--secondary);
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: color .15s ease;
}

#header .nav-link:hover {
    color: var(--primary);
}

#header .btn {
    margin: 16px;
    padding: 12px 32px;
    color: white;
    background-color: var(--primary);
    border-radius: 10px;
    font-size: 18px;
}

#header .navbar-toggler {
    border: none;
    width: 32px;
    height: 32px;
    transform: translate(-50%);
}

#hero {
    height: 600px;
}

#hero .carousel-item {
    border-radius: 50px;
    overflow: hidden;
}

#hero img {
    width: 100% !important;
    height: 600px;
    object-fit: cover;
    filter: brightness(.75);
}

#hero .carousel-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#hero h2 {
    text-align: center;
    color: white;
    font-size: 64px;
}

#hero p {
    text-align: center;
    color: white;
}

#hero form {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 720px;
    max-width: 80%;
    background-color: white;
    padding: 50px;
    border-radius: 50px;
}

#hero form input {
    border-radius: 10px;
}

#hero form button {
    background-color: var(--primary);
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    padding-right: 24px;
    padding-left: 24px;
}

#destinations {
    margin-top: 64px;
}